html, body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, #40d1f6, #f8e673, #caeefb, #b2feec);
	  animation: gradient 15s ease infinite;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; // This allows the main content to grow and fill the remaining space
    margin-top: 100px;
}




@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
